# Fichier avec les vraies valeurs — NE JAMAIS committer
# Passer par kubeseal pour chiffrer avant tout commit
wafizo-secrets.yml

# Le fichier chiffré par kubeseal est safe à commiter
!wafizo-sealed-secrets.yml
